<%- include("partials/header") %>

<div class="ui main text container">
	<div class="ui huge header"><%= blog.title %></div>
	<div class="ui top attached segment">
		<div class="item">
			<img src="<%= blog.image %>" alt="" class="ui centered rounded image">
			<div class="content">
				<span><%= blog.created.toDateString() %></span>
			</div>
			<div class="description">
				<!-- changing %= to %- will take whatever blog.body returns and evaluate it as code -->
				<p><%- blog.body %></p>
			</div>
			<a href="/blogs/<%= blog._id %>/edit" class="ui orange basic button">Edit</a>
			<form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
				<button class="ui red basic button">Delete</button>
			</form>
		</div>
	</div>
</div>

<%- include("partials/footer") %>